/* CSS Reset*/
body,
div,
p,
ul,
ol,
li,
textarea,
form,
input,
button,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
img,
section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup,
label {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
     word-wrap: break-word;
    word-break:break-all;
}

html,
html body {
    height: 100%;
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Microsoft YaHei", Helvetica;
}

input,
button,
select,
textarea {

    color: #383838;
   /* -webkit-appearance: none;*/
}

ul,
ol,
li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: #383838;
    outline: none;
}


/*{-webkit-tap-highlight-color:rgba(0,0,0,0)}*/

img {
    border: 0;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*通用*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.none {
    display: none;
}
.cb{clear: both;}
.cbafter:after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
    height: 1;
}
body {
    background: #eaeaea;
}

.content {
    width: 1200px;
    margin: 0 auto;
}
.content .w980 {
    box-sizing: border-box;
    width: 980px;
    padding: 30px 0 30px 30px;
}
.content .w980.p20 {
    box-sizing: border-box;
    width: 980px;
    padding: 20px 0 20px 20px;
}
.content .w220{background: #1dc499;margin-bottom: 20px;min-height:752px;padding-bottom: 20px;border-radius: 0 0 10px 10px}
.start{font-size: 14px;color: red; float: right;line-height: 26px;}
.content .w980 h1{font-size:20px;color: #333333; margin-bottom: 20px; }
.h1_tit{height: 42px}
.h1_tit h1{float: left;}
.bg{height: auto; -webkit-box-shadow: 0 0 10px rgba(230, 230, 230, .5);
    -moz-box-shadow: 0 0 10px rgba(230, 230, 230, .5);box-shadow: 0 0 10px rgba(230, 230, 230, .5);
    background: #fff;border-radius: 10px;padding: 0 0 40px}
.modal-title{background: url(img/inco1.png) no-repeat left center;padding-left:15px;color:#19ab85; }

/*加载更多*/
.bg_master{
  position: fixed;
  z-index: 100000000000000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.toast {
  position: fixed;
  width: 160px;
  min-height: 160px;
  top: 180px;
  left: 50%;
  margin-left: -80px;
  background-color: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
  background: rgba(40, 40, 40, 0.75) url(img/loading.gif) no-repeat center 50px;
  text-align: center;
  padding-top: 60px;
  box-sizing:border-box; z-index: 100000000000000000;
 
}
.toast2 {
  position:fixed;
  z-index: 8;
  width: 980px;
  height: auto;
  top: 10px;
  left: 50%;
  margin-left: -490px;
  box-sizing:border-box;
  display: none
 
}
.bg_master2{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(40, 40, 40, 0.75) ;
  left: 0;
}

.toast p{ font-size: 18px; padding-top: 40px}
.bg_master1{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.25);
  z-index: 999999999999
}
.toast1 {
padding-top: 20px;
  background: #fff ;
 z-index: 999999999999
 
}
.toast1 p{ font-size: 14px; padding: 40px 10px 0 10px; color: #1fc49a;}
/*确认删除的弹框*/
.bg_master3{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.25);
  z-index: 9
}
.toast3 {
  position: fixed;
  width: 160px;
  min-height: 80px;
  top: 280px;
  left: 50%;
  margin-left: -80px;
  background-color: rgba(250, 250, 250, 1);
  text-align: center;
  border-radius: 5px;
  text-align: center;
  box-sizing:border-box; 
  z-index: 10;
 
}
.toast3>p{padding: 10px}
.toast3>p:nth-child(1){color:#d9534f; font-size: 16px;text-align:center;padding-bottom: 0}
.toast3>p:nth-child(2){border-bottom: 1px solid #ccc;line-height: 24px;word-wrap:break-word;text-align:left}
.toast3>p button:nth-child(3){margin-left: 10px}
[v-cloak]{display: none}
/*统一维护按钮*/
button.default{
    display: block;
    height: 32px;
    line-height: 32px;
    width: 130px;
    border-radius: 16px;
    color: #fff;
    outline: none;
}
button.center{margin:0 auto;}
button.ok{
  background: #1dc499;
}
button.cancel{
  background: #f86448;
}
button.dele{
  background: #f86448;
}
button.blue{
   background: #4796f2;
}
button.greynobg{
  border:#ccc 1px solid;color:#333;background: none;
}
/*.btn{border-radius: 17px;}*/
